In [ ]:
a = 5
print(a)
print(type(a)) # data type
print(a + 1)   # addtion
print(a - 1)   # subtract
print(a * 2)   # multiplication
print(a ** 2)  # exponentiation
print(a / 2)   # division
print(a // 2)  # int part of divition

a += 1
print(a)
a *= 2
print(a)

b = 2.5
print(type(b))
print(b, b+1, b*2, b**2)

5
<class 'int'>
6
4
10
25
2.5
2
6
12
<class 'float'>
2.5 3.5 5.0 6.25

In [ ]:
t = True
f = False
print(type(t))
print(type(f))
print(t and f) # logical AND 
print(t or f)  # logical OR
print(not t)   # logical NOT
print(t != f)  # logical XOR

<class 'bool'>
<class 'bool'>
False
True
False
True

In [ ]:
s  = "hello"
print(s.capitalize())  # capitalize the 1st char
print(s.upper())       # convert a string to upper case
print(s.rjust(50))     # right-justify the string with ** space
print(s.center(50))    # center a string
print(s.replace('l', '(ell)'))  # replaces all the instances of the string with the new substring
print('    wo  rld                   '.strip(), "test")      # removing white spaces from the beginning or from the end

Hello
HELLO
                                             hello
                      hello
he(ell)(ell)o
wo  rld test

In [ ]:
for i in range(5):
    print(i)
arr = [1,2,3]
print(arr)

0
1
2
3
4
[1, 2, 3]