**List**

*   Stores a sequence of items
*   Can be used to store different data types
*   Lists are mutable
*   [  ] to create lists

In [1]:
language_courses = ['C', 'C++', 'JAVA', 'C Charp']
print(language_courses)
print(language_courses[0])
print(language_courses[-1]) # negative indexing - used to access elemnts from the back of the list

['C', 'C++', 'JAVA', 'C Charp']
C
C Charp

Builtin enumerator function gives access to the index of each element within the body of the loop

In [2]:
for i,c in enumerate(language_courses):
    print('# %d: %s' % (i,c) )

# 0: C
# 1: C++
# 2: JAVA
# 3: C Charp

In [3]:
nums = [0, 1, 2, 3, 4]
print(nums)
squares = []
for i in nums:
    squares.append(i ** 2)
print(squares)

[0, 1, 2, 3, 4]
[0, 1, 4, 9, 16]

In [4]:
nums = [0, 1, 2, 3, 4]
squares = [i ** 2 for i in nums] # list comprehension
print(squares)
even_squares = [i ** 2 for i in nums if i % 2 == 0] # another example of list comprehension
print(even_squares)

[0, 1, 4, 9, 16]
[0, 4, 16]

In [5]:
print(language_courses)

['C', 'C++', 'JAVA', 'C Charp']

Adding items to a list

1.   append()       ->  Add an item
2.   insert()       ->  Add an item to a specific index
3.   extend() , +   ->  COmbines list

In [6]:
# append() ---> add a new element at the end of the list
language_courses.append('Python')
print(language_courses)

['C', 'C++', 'JAVA', 'C Charp', 'Python']

In [7]:
# insert() ---> inserts an elemnet to a given index
language_courses.insert(3,'JS')
print(language_courses)

['C', 'C++', 'JAVA', 'JS', 'C Charp', 'Python']

In [8]:
language_courses.insert(5, 'PHP')
print(language_courses)

['C', 'C++', 'JAVA', 'JS', 'C Charp', 'PHP', 'Python']

In [9]:
# + operator sers the purpose of list concatination
algo_courses = ['Data structure', 'Algorithm', 'AI']
all_courses = language_courses + algo_courses
print(all_courses)

['C', 'C++', 'JAVA', 'JS', 'C Charp', 'PHP', 'Python', 'Data structure', 'Algorithm', 'AI']

In [10]:
all_courses.extend(['abc']) # adds another list to the end of a list
print(all_courses)

['C', 'C++', 'JAVA', 'JS', 'C Charp', 'PHP', 'Python', 'Data structure', 'Algorithm', 'AI', 'abc']

In [11]:
all_courses.extend('abcxyz') # remindful of strings while using extend method
print(all_courses)

['C', 'C++', 'JAVA', 'JS', 'C Charp', 'PHP', 'Python', 'Data structure', 'Algorithm', 'AI', 'abc', 'a', 'b', 'c', 'x', 'y', 'z']

**Delete items from a list**


1.   pop()     # remove an item by index and get its value
2.   remove()  # remove an item by value
3.   del()     # remove items by idex or by slice
4.   clear()   # remove all items
5.   list comprehensions can be used to remove multiple items that meet some conditions.

In [12]:
# pop() ---> remove and return the last element of the list
poped_item = all_courses.pop()
print(poped_item)
print(all_courses)

z
['C', 'C++', 'JAVA', 'JS', 'C Charp', 'PHP', 'Python', 'Data structure', 'Algorithm', 'AI', 'abc', 'a', 'b', 'c', 'x', 'y']

In [13]:
poped_item = all_courses.pop()
print(poped_item)
print(all_courses)

poped_item = all_courses.pop()
print(poped_item)
print(all_courses)

y
['C', 'C++', 'JAVA', 'JS', 'C Charp', 'PHP', 'Python', 'Data structure', 'Algorithm', 'AI', 'abc', 'a', 'b', 'c', 'x']
x
['C', 'C++', 'JAVA', 'JS', 'C Charp', 'PHP', 'Python', 'Data structure', 'Algorithm', 'AI', 'abc', 'a', 'b', 'c']

In [14]:
print(all_courses.pop(11))
print(all_courses)

a
['C', 'C++', 'JAVA', 'JS', 'C Charp', 'PHP', 'Python', 'Data structure', 'Algorithm', 'AI', 'abc', 'b', 'c']

In [15]:
print(all_courses.pop(-1))
print(all_courses)

c
['C', 'C++', 'JAVA', 'JS', 'C Charp', 'PHP', 'Python', 'Data structure', 'Algorithm', 'AI', 'abc', 'b']

In [16]:

# The slice operator (:) allows to index multiple adjacent elements
# listName[x:y] ---> get a slice from index x (inclusive) to y (exclusive)

print(all_courses[0:2])

['C', 'C++']

In [17]:
print(all_courses[:3])

['C', 'C++', 'JAVA']

In [18]:
print(all_courses[:-1])

['C', 'C++', 'JAVA', 'JS', 'C Charp', 'PHP', 'Python', 'Data structure', 'Algorithm', 'AI', 'abc']

In [19]:
print(all_courses[2:-2])

['JAVA', 'JS', 'C Charp', 'PHP', 'Python', 'Data structure', 'Algorithm', 'AI']

In [20]:
# List can contain any data structure
listOfMixedType = ['abc', 1, 'x', 3.34]
print(listOfMixedType)

['abc', 1, 'x', 3.34]

In [21]:
listOfLists = [ ['a','b'], [1,2,3,4],['One',"Two",'Three']]
print(listOfLists)

[['a', 'b'], [1, 2, 3, 4], ['One', 'Two', 'Three']]

In [22]:
print(listOfLists[2][1])

Two

In [23]:
# some useful methods while working with lists
print(listOfLists)
listOfLists.pop()
print(listOfLists)

[['a', 'b'], [1, 2, 3, 4], ['One', 'Two', 'Three']]
[['a', 'b'], [1, 2, 3, 4]]

In [28]:
x = ['a','b','c']
print(x)
x.reverse()
print(x)
print(x[:])

['a', 'b', 'c']
['c', 'b', 'a']
['c', 'b', 'a']

In [29]:
print(len(x)) # Length of the list

3

In [33]:
x = ['a','b','c']
print(x)
x.reverse()
print(x[1:])

['a', 'b', 'c']
['b', 'a']

# remove() ---> remove an item by value. 
# Incase of multiple instances with same value, it will remove the 1st occarence only

# Your task is to be familiar with remove(), del(), clear()

Dictionary

1.   Stores a map from one type of object (the KEY) to another (the VALUE)
2.   Similar to Map in JAVA or an object in javascript
3.   The KEY must be immutable type (string, number, or tuple)
4.   The VALUE can be of any data type
5.   The ordering of the keys depend on the hashing algorithm, thus it is usually arbitary
6.   your code should not rely on the ordering of the keys in a Dictionary
7.   Use curly brakets {} to create dictionary

In [35]:
empDict = { 'Mashiour': 100, 'Manirul': 83.6, 'Dip': 93.4}
print(empDict)

{'Mashiour': 100, 'Manirul': 83.6, 'Dip': 93.4}

In [36]:
print(empDict['Dip'])

93.4

In [37]:
empDict['Dip'] = 300
print(empDict)

{'Mashiour': 100, 'Manirul': 83.6, 'Dip': 300}

In [40]:
for i in empDict:
    score = empDict[i]
    print('%s has a review score of %f' % (i, score))

Mashiour has a review score of 100.000000
Manirul has a review score of 83.600000
Dip has a review score of 300.000000

In [41]:
for emp,score in empDict.items():
    print('%s has a review score of %f' % (emp, score))

Mashiour has a review score of 100.000000
Manirul has a review score of 83.600000
Dip has a review score of 300.000000

In [44]:
# use map() and filter()

def addition(n):
    return n+n

numbers = [1,2,3,4]
res = map(addition, numbers)
print(list(res))

[2, 4, 6, 8]

In [47]:
nums = [1,2,3,4,5,6]
list(map(lambda x: x*x, nums ))

[1, 4, 9, 16, 25, 36]

In [48]:
list(filter(lambda a: a > 3, nums))

[4, 5, 6]

In [ ]:
# sets
# tuple
# numpy
# matplotlib
# image operations