In [10]:
# Sets --> unordered collection of distinct elements
arr = {'cat','dog','cat'}
print('cat' in arr)
print(arr)
print('dog' in arr)
print('fish' in arr)
arr.add('fish')
arr.add('fish')
arr.add('fish')
arr.add('fish')
arr.add('fish')
print(len(arr))
print('fish' in arr)
arr.remove('fish')
print(len(arr))

True
{'dog', 'cat'}
True
False
3
True
2

In [13]:
set1 = {'cat','dog', 'fish', 'bird', 'gorilla'}
for a in set1:
    print(a)

for i,a in enumerate(set1):
    print(i, a)

dog
cat
gorilla
bird
fish
0 dog
1 cat
2 gorilla
3 bird
4 fish

In [20]:
# Tuples ---> immutable ordered values

# very much simillar to a list
# tuples can be used as keys in a Dictionary


t = (3,4)
print(t)
print(type(t))

d = {(a,a+1): a for a in range(10)}
print(d)
print(d[(0,1)])
print(d[(3,4)])
print(d[t])

(3, 4)
<class 'tuple'>
{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
0
3
3